@font-face {
  font-family: "Bartex";
  src: url("/Bartex.ttf");
}

/* TEXT */
.title {
  font-size: var(--large);
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.barbie {
  letter-spacing: 4px;
  font-family: "Bartex";
  font-size: 1.5em;
  padding-left: 3px;
}

/* LAYOUT */
.title,
.current-turn,
.result,
.game {
  margin-bottom: 2rem;
}

.reset-button {
  padding: 0.5rem 1rem;
}

/* GRID */
.checkbox-grid {
  --cell-size: 50px;

  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
  width: 40vw;
  column-gap: 3rem;
  place-content: center;
  row-gap: 3rem;
}

/* CELLS */
[type="checkbox"] {
  display: none;

  & + label {
    position: relative;
    padding: 2rem;
    border: 2px solid #FFF;
    border-radius: 0.25rem;
  }

  &:not(:disabled) + label {
    cursor: pointer;
  }
}

.nought,
.cross {
  pointer-events: none;
}

.nought::after,
.cross::after {
  position: absolute;
  display: grid;
  place-content: center;
  inset: 0;
  height: 100%;
  width: 100%;
  padding-top: 6px;
  background-color: var(--primary);
  overflow: hidden;
}

.nought::after {
  content: var(--player-a-icon);
}

.cross::after {
  content: var(--player-b-icon)
}

/* ICONS */
.player-a-barbie {
  --player-a-icon: var(--barbie-icon);
}

.player-a-wonka {
  --player-a-icon: var(--wonka-icon);
}

.player-a-donatello {
  --player-a-icon: var(--donatello-icon);
}

.player-b-barbie {
  --player-b-icon: var(--barbie-icon);
}

.player-b-wonka {
  --player-b-icon: var(--wonka-icon);
}

.player-b-donatello {
  --player-b-icon: var(--donatello-icon);
}