:root {
  --large: clamp(1.25rem, 0.4371rem + 3.4682vw, 3.125rem);
  --primary: #ED2E8F;
  --secondary: #00C3F4;

  --noughts-icon: url('./assets/nought.svg');
  --cross-icon: url('./assets/cross.svg');
  --barbie-icon: url('./assets/barbie.svg');
  --wonka-icon: url('./assets/wonka.svg');
  --donatello-icon: url('./assets/donatello.svg');

  --player-a-icon: var(--noughts-icon);
  --player-b-icon: var(--cross-icon);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  line-height: 1.5;
  font-family: 'Poppins', system-ui, sans-serif;
  text-rendering: optimizeSpeed;
  color: var(--primary);
}

body {
  height: 100%;
  padding: 2rem;
  text-align: center;
  background-color: var(--secondary);
}

img {
  object-fit: cover;
}

fieldset {
  border: none
}

:where(ul, ol) {
  list-style: none;
}

:where(img, picture, video, iframe, svg) {
  max-inline-size: 100%;
  display: block;
}

:where(p, h1, h2, h3, h4, h5, h6, li, dl, dt, blockquote) {
  overflow-wrap: break-word;
  hyphens: auto;
}

:where(input, button, textarea, select) {
  font: inherit;
}

@media (prefers-reduced-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}